p {
    font-size: 18px;
    font-family: "Arial";
}

h1 {
    font-size: 72px;
    font-family: "Oleo Script Swash Caps";
    font-weight: lighter;
    margin: 0;
}
h2{
    font-size: 36px;
    font-family: "Arial";
    font-style: italic;
    margin-left: 50px;
}

tr{
    width: 100%;
}
td{
    width: 100ch;
}
ol{
    text-align: left;
    margin-left: 50px;
}
li{
    font-size: 24px;
    font-family: "Times";
}
li:first-child{
    color: #00ff00;
}
li:nth-child(2){
    color: #ffff00;
}
li:last-child{
    color: #ffbf44
}