p {
    font-size: 18px;
    font-family: "Arial";
}

h1 {
    font-size: 72px;
    font-family: "Oleo Script Swash Caps";
    font-weight: lighter;
    margin: 0;
}
h2{
    font-size: 36px;
    font-family: "Arial";
    font-style: italic;
    margin-left: 50px;
}
h3{
    font-size: 48px;
    font-family: "Audiowide";
    margin-left: 50px;
}

ol{
    text-align: left;
    margin-left: 50px;
}
li{
    font-size: 24px;
    font-family: "Times";
}

/* HEADER */
.site-id h1{
    margin: 0;
}
header{
    background: linear-gradient(#000000, #494949);
    padding: 1em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
header a{
    color: #ffffff;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-top: .6em;
}
nav li{
    color: #ffffff;
    list-style: none;
    margin: 0;
}

/* FOOTER */
footer {
    border-top: 1px solid #ddd;
    max-width: 1000px;
    margin: 0 auto;
}
footer nav ul {
    justify-content: center;
}

header a {
    font-size: 24px;
    padding: 1em;
    text-decoration: none;
}
.site-id a {
    font-size: 48px;
}

.hero{
    padding: 3em 1em;
    background: linear-gradient(#52cfff 50%, #8f9faf);
}
.hero img{
    height: 200px;
    width: 200px;
    background-color: #ffe500;
    border-radius: 50%;
}

.lists{
    padding: 2em 1em;
    background-color: #8f9faf;
}

footer{
    background-color: #8f9faf;
}

.lists li:first-child{
    color: #00ff00;
}
.lists li:nth-child(2){
    color: #ffff00;
}
.lists li:last-child{
    color: #ffcf22;
}