body {
    background-color: #8f9faf;
}

p {
    font-size: 18px;
    font-family: "Arial";
}

h1 {
    font-size: 72px;
    font-family: "Oleo Script Swash Caps";
    font-weight: lighter;
    margin: 0;
}
h2{
    font-size: 36px;
    font-family: "Arial";
    font-style: italic;
    margin-left: 50px;
}

#homeH {
    background: linear-gradient(#52cfff 50%, #8f9faf);
    padding-bottom: 100px;
}

#sun {
    height: 200px;
    width: 200px;
    background-color: #ffe500;
    border-radius: 50%;
}

#sub {
    font-size: 20px;
    font-family: "Audiowide";
    font-weight: 200;
    color: #ffffff;
}

tr{
    width: 100%;
}
td{
    width: 100ch;
}
ol{
    text-align: left;
    margin-left: 50px;
}
li{
    font-size: 24px;
    font-family: "Times";
}
li:first-child{
    color: #00ff00;
}
li:nth-child(2){
    color: #ffff00;
}
li:last-child{
    color: #ffbf44
}